<h1>thh</h1>

<p><a href="/parks"> Parks</a></p>
<p><a href="/otters"> Otters</a></p>

<%= link_to 'New Park', '/parks/new' %>

<% @parks.each do |park|%>
  <p id="park-<%= park.id %>"> <%= park.title %> <%= park.created_at %>
    <%= link_to "Edit", "/parks/#{park.id}/edit" %>
  </p>
<% end %>
