<h1><%= @park.title %></h1>
<p>Hiring Workers: <%= @park.hiring_workers %></p>
<p>Number of Workers: <%= @park.number_of_workers %></p>
<p>Created At: <%= @park.created_at %></p>
<p>Updated At: <%= @park.updated_at %></p>
