<h1><%= @otter.otter_name %></h1>
<p>Otter Age: <%= @otter.otter_age %></p>
<p>Otter Name: <%= @otter.otter_name %></p>
<p>Able to Work: <%= @otter.able_to_work %></p>
<p>Created At: <%= @otter.created_at %></p>
<p>Updated At: <%= @otter.updated_at %></p>
